{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ macro.displayNewsList(top) }}
        </div>
        <div class="col-md-4">
            <h2>Our Trusted Sources</h2>
            {% for item in sources %}
                <a href="/{{ item.id }}">{{ item.name }}</a>
                <p></p>
                  <!-- {{ item.description| truncate(40) }} -->
            {% endfor %}

        </div>
    </div>
{% endblock %}