<div class="navbar navbar-inverse" role="navigation" style="margin-bottom: 20px;  background-color: #2F3061; letter-spacing: 7px; font-family: 'Philosopher', sans-serif;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-size: 30px; color: #FFE66D;"> News App </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-left: 70px; text-transform: uppercase; font-weight: bolder;">
                <li ><a href="/">Home</a></li>
                 <li><a href="/category/business">Business</a></li>
                 <li><a href="/category//health">Health</a></li>
                 <li><a href="/category//technology">Technology</a></li>
                 <li><a href="/category/science">Science</a></li>
                 <li><a href="/updates/covid">COVID-19</a></li>

        </div>

    </div>
</div>